$text-main: #ffffff;
$btn-expand: #adadad;

$text-secondary: #b3b3b3;
$bg-main: #121212;
$bg-primary: #000000;
$bg-secondary: #604ec1;
$border-main: #282828;
$text-btn: #171717;
$bg-gradient: linear-gradient(180deg, #604ec1 5.09%, #121212 43.28%);
$bg-playbar: #181818;
$text-time: #a6a6a6;
